html{
  background-color: aqua;
  text-transform: capitalize;
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  
  padding-top: 1rem;
}

.header{
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 30px;
  width: 60vw;
  margin-top: 55px;
}

